body {
    background-color: #97dcdb;
    margin: 0;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    line-height: 2
}

h2 {
    text-align: center;
    color: purple;
    text-decoration: underline;
    padding: 1%
}

h3 {
    color: purple;
    text-align: center;

}

p {
    line-height: 200%;
    text-align: center;

}

iframe {
    margin-left: 38%;
}

footer {
    text-align: center;
    margin: 4%;
}

.first {
    text-decoration: none;
}

.form {
    text-align: center;
}

.logo {
    border-radius: 100%;
    margin-left: 20px;
}


#header-img {
    position: relative;
    top: -11%;
}

#header {
    top: 0;
}